streamlit==1.37.1
requests==2.32.3
Pillow==10.4.0
geopy==2.4.1
streamlit-js-eval==0.1.7
folium==0.17.0
streamlit-folium==0.22.0
pdfplumber==0.11.4
python-docx==1.1.2
docx==0.2.4
pyperclip==1.9.0
st_copy_to_clipboard==0.1.6
rembg==2.0.59
streamlit_image_comparison==0.0.4
selenium==4.21.0
webdriver-manager==4.0.2
PyPDF2==3.0.1
thread6
llvmlite
numba